body{
    background-color: $bg-color;
    font-family: 'Jura', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 5em auto auto 6em;
    height: 98vh;
    width: 98vw;
    gap: 1em;
    margin: 1vh 1vw;
}

.logo-container{
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        height: 3em;
        color: $main-color;
    }
    h1{
        color: $main-color;
        font-size: 2em;
    }
}

.searchbar{
    grid-area: 1 / 2 / 2 / 4;
    background-color: rgba($main-color, $opacity-second-color);
    border-radius: 10em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    padding: 1em;
    img{
        height: 1.5em;
    }
    input{
        width: 95%;
        text-decoration: none;
        background-color: rgba($main-color, 0);
        border: 0;
        outline: none;
    }
}


.account{
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    img{
        height: 2em;
    }
    h2{
        color: $main-color;
        font-size: 1.5em;
    }
}

.uploader{
    grid-area: 2 / 1 / 4 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .img-container{
        height: 80%;
        width: 100%;
        border-radius: 2em 2em 0 0;
        background-color: rgba($main-color, $opacity-second-color);
        display: flex;
        align-items: center;
        justify-content: center;
        .img-placeholder{
            width: 40%;
        }
        .img-preview{
            width: 80%;
            border-radius: 2em;
            max-height: 80%;
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color;
        height: 20%;
        width: 100%;
        border-radius: 0 0 2em 2em;
    }
}

.img-placeholder.selected {
    display: none;
}


.folders-container {
    grid-area: 2 / 2 / 4 / 5;
    background-color: rgba($main-color, $opacity-second-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    grid-gap: 1em;
    padding: 1em;
    border-radius: 2em;
    .folders{
        padding: 0.5em 1em;
        background-color: white;
        border-radius: 2em;
    .img-folders{
        img{
            height: 4em;
        }
    }
    }
    .grid-container div:nth-child(1) {
        
    }
    .grid-container div:nth-child(2) {
    /* Stili per il secondo div */
    }
    .grid-container div:nth-child(3) {
      /* Stili per il terzo div */
    }
}

.footer{
    grid-area: 4 / 1 / 4 / 5;
    background-color: $main-color;
    border-radius: 2em;
}
