.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 5em auto auto 6em;
    height: 100vh;
    width: 98vw;
    gap: 1em;
    margin: 0 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-container{
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        height: 3em;
        color: #8181ee;
    }
    h1{
        color: #8181ee;
        font-size: 2em;
    }
}

.searchbar{
    grid-area: 1 / 2 / 2 / 4;
    background-color: #8181ee;
    opacity: 50%;
    border-radius: 10em;
    height: 3em;
    align-self: center;
}

.account{
    grid-area: 1 / 4 / 2 / 5;
    background-color: #8181ee;
    height: 3em;
    width: 50%;
    border-radius: 1em;
    align-self: center;
    justify-self: center;
}

.uploader{
    grid-area: 2 / 1 / 4 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22em;
        height: 22em;
        background-color: #f2f2f2;
        border-radius: 2em 2em 0 0;
        background-color: rgba($color: #8181ee, $alpha: .5);
        .img-placeholder{
            height: 19em;
            width: 19em;
            background-color: white;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;f
            .imgPlaceholder{
                position: relative;
                z-index: 1;
                height: 5em;
            }
            canvas{
                position: absolute;
                z-index: 2;
                height: 20em;
                width: 20em;
                border-radius: 2em;
                object-fit: cover;
            }
        }
    }
    .uploader-button{
        height: 5em;
        width: 22em;
        background-color: #8181ee;
        border-radius: 0 0 2em 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.folders-container{
    background-color: rgba($color: #8181ee, $alpha: .5);
    border-radius: 2em;
    grid-area: 2 / 2 / 4 / 5;
}

.footer{
    grid-area: 4 / 1 / 4 / 5;
    background-color: #8181ee;
}
