/* Vecchio contenuto App.css:

.App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }   */
/* Vecchio contenuto Index.css:

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5em auto auto 6em;
  height: 98vh;
  width: 98vw;
  gap: 1em;
  margin: 1vh 1vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo-container {
  grid-area: 1/1/1/1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-container img {
  height: 3em;
  color: #11abfe;
}
.logo-container h1 {
  color: #11abfe;
  font-size: 2em;
}

.searchbar {
  grid-area: 1/2/2/4;
  background-color: rgba(17, 171, 254, 0.5);
  border-radius: 10em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 1em;
}
.searchbar img {
  height: 1.5em;
}
.searchbar input {
  width: 95%;
  text-decoration: none;
  background-color: rgba(17, 171, 254, 0);
  border: 0;
  outline: none;
}

.account {
  grid-area: 1/4/2/5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.account img {
  height: 2em;
}
.account h2 {
  color: #11abfe;
}

.uploader {
  grid-area: 2/1/4/2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.uploader .img-container {
  height: 80%;
  width: 100%;
  border-radius: 2em 2em 0 0;
  background-color: rgba(17, 171, 254, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploader .img-container .img-placeholder {
  width: 40%;
}
.uploader .img-container .img-preview {
  width: 80%;
  border-radius: 2em;
  max-height: 80%;
}
.uploader .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11abfe;
  height: 20%;
  width: 100%;
  border-radius: 0 0 2em 2em;
}

.img-placeholder.selected {
  display: none;
}

.folders-container {
  background-color: rgba(17, 171, 254, 0.5);
  border-radius: 2em;
  grid-area: 2/2/4/5;
  display: flex;
  flex-direction: column;
}
.folders-container div {
  display: flex;
}
.folders-container img {
  height: 5em;
}

.footer {
  grid-area: 4/1/4/5;
  background-color: #11abfe;
  border-radius: 2em;
}/*# sourceMappingURL=index.css.map */